
<div class="songFinder">
  <h4>Find a Song</h4>
  find a song <input #songTitle>
  <button (click)="triggerAlertSong(songTitle.value)">
    Find
  </button>
  </div>
<div>
  {{songMessage}}
</div>

<!--<app-content-card *ngFor="let item of contentList; last as isLast" [content]="item" [class.is-last] = "isLast"></app-content-card>-->
<app-content-card *ngFor="let type of (contentList | contentType: 'Metalcore');"  [content]="type"  class="isMetalcore"></app-content-card>
<app-content-card *ngFor="let type of (contentList | contentType: 'R&B');"  [content]="type"  class="isRnB"></app-content-card>
<app-content-card *ngFor="let type of (contentList | contentType: 'Rap');"  [content]="type"  class="isRap"></app-content-card>
<app-content-card *ngFor="let type of (contentList | contentType: 'Prog Metal');"  [content]="type"  class="isProg"></app-content-card>
<app-content-card *ngFor="let type of (contentList | contentType: 'Classic Rock');"  [content]="type"  class="isClassicRock"></app-content-card>
