<div class="createContent">
  <h4>Enter a new song</h4>
  Author: <br><input matinput color="accent" #userAuthor> <br>
  Title: <br><input matinput color="accent" #userTitle> <br>
  Image:<br> <input matinput color="accent" #userImage> <br>
  Description: <br><input matinput color="accent" #userDescription> <br>
  Genres: <br><input matinput color="accent" #userType>
  <button mat-raised-button color="primary" (click)="addToSong(userAuthor.value, userTitle.value, userDescription.value,
  userType.value, userImage.value)">Add Song</button>
</div>

<div class="songFinder">
  <h4>Find a Song</h4>
  find a song <input #songTitle>
  <button mat-raised-button color="primary" (click)="triggerAlertSong(songTitle.value)">
    Find
  </button>
  </div>
<div>
  {{songMessage}}
</div>

<!--<app-content-card *ngFor="let item of contentList; last as isLast" [content]="item" [class.is-last] = "isLast"></app-content-card>-->
<app-content-card *ngFor="let type of (contentList | contentType: 'Metalcore');"  [content]="type"  class="isMetalcore"></app-content-card>
<app-content-card *ngFor="let type of (contentList | contentType: 'R&B');"  [content]="type"  class="isRnB"></app-content-card>
<app-content-card *ngFor="let type of (contentList | contentType: 'Rap');"  [content]="type"  class="isRap"></app-content-card>
<app-content-card *ngFor="let type of (contentList | contentType: 'Prog Metal');"  [content]="type"  class="isProg"></app-content-card>
<app-content-card *ngFor="let type of (contentList | contentType: 'Classic Rock');"  [content]="type"  class="isClassicRock"></app-content-card>
