
:host{
    display: block;
    border: 5px solid #000;
    width: 400px;
    height: 600px;
    text-align: center;
    margin: 10px auto;
    background-color: gainsboro;
    font-size: large;
}

h4{
  text-align: center;
}

.author{
  font-size: xx-large;
}

.title{
  font-size: x-large;
}

img{
  display: block;
  margin: 0 auto;
  border: solid 2px darkred;
}
img:hover{
  transform: scale(1.1);
}

:host.isMetalcore{
  border: solid 2px blue;
}

:host.isRnB{
  border: solid 2px red;
}

:host.isRap{
  border: solid 2px purple;
}

:host.isProg{
  border: solid 2px darkgreen;
}

:host.isClassicRock{
  border: solid 2px lightskyblue;
}
